<label for="brokerHost">Broker host</label>
<input type="text" name="brokerHost" id="brokerHost" ng-model="broker.host"><br>

<label for="brokerPort">Broker port</label>
<input type="text" name="brokerPort" id="brokerPort" ng-model="broker.port"><br>

<button ng-click="connect()">Connect</button>
<button ng-click="disconnect()">Disconnect</button>
<div>{{connectionStatus}}</div>

<hr>
<label for="subscriptionTopic">Topic</label>
<input type="text" name="subscriptionTopic" id="subscriptionTopic" ng-model="subscription.topic"><br>

<button ng-click="subscribe()">Subscribe</button>
<hr>

<h3>Messages</h3>

<div class="list-group">
    <msg-popup mqtt-message="msgin"
        ng-repeat="msgin in subscription.messages">
    </msg-popup>
</div>